<!DOCTYPE html>
<html>
  <head>
    <title>Nodepop</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= __("Encuentra lo que buscas en Nodepop") %></h1>
    <% getLocales().forEach(locale => { %>
        <a href="/change-locale/<%= locale %>"><%= locale %></a> &nbsp;
      <% }) %>
    <p><%= __("Bienvenido a Nodepop") %> </p>
      <h2><%= __("Productos") %></h2>
      <div class="productos">
      <% productos.forEach(producto => {%>
        
          <div class="producto">
            <div class="imagen">
              <img src="/images/<%= producto.foto %>"/>
            </div>
          <div class="line"><h3><%= __("Producto") %></h3><p><%= producto.nombre %></p></div>
    
          <div class="line"><h3><%= __("Precio") %></h3><p><%= producto.precio %></p></div>
          
          <div class="line"><h3><% __("Estado") %></h3>
            
            <% if (producto.seVende) { %>
              <p><%= __("Se vende") %></p>
              <%} else {  %>
                <p><%= __("Se compra") %></p>
                <%} %>
              </div>
          
          <div class="line"><h3>Tags</h3><p><%= producto.tags %></p></div>
          </div>
      <%} )%>
    </div>
    </p>
  </body>
</html>

<!--mostras condicionales con el precio ( if se vende = true , 
if sevende = false (se busca))-->